<% if flash[:success] %>
 <div class = "alert alert-success flash-alert">
   <%= flash[:success] %>
 </div>
<% elsif flash[:danger]%>
 <div class = "alert alert-danger flash-alert" >
   <%= flash[:danger] %>
 </div>
<% end %>
<h1>Company Payroll System</h1>
<h2>Please upload excel sheet</h2>

<%= form_tag import_data_path, multipart: true do %>
  <%= file_field_tag :file, id: "payroll-file"%>
  <%= submit_tag "Upload" %>
<% end %>
